@import "../public/bourbon/bourbon";
@import "../public/saffron/saffron";


.App-header {
    background: linear-gradient(indigo,peru);
}

// header text enhancement
// letterpressy
.emboss {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

// positioning
.center{ text-align: center; }

span h6 {
    color: #111;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

// entire widget build pill
%pill-padding {
    padding: 30px;
    border-radius: 8vw;
    margin: 1em;
}

.bg {
    @extend %pill-padding;
    border: 6px groove rgba(30,50,70,0.5);
}

// bgs
// entire screen of app
#root{background: linear-gradient(snow,rgba(192,192,192,0.7),rgba(192,192,192,0.5),rgba(192,192,192,0.3),rgba(192,192,192,0.1));    }

// bgs per currency
.bg1{background: radial-gradient(circle,darkorange,rgba(192,192,255,0.5),rgba(255,0,255,0.3)); }
.bg2{background: radial-gradient(circle,firebrick,rgba(255,0,255,0.5),rgba(255,255,64,0.3));    }
.bg3{background: radial-gradient(circle,darkcyan,rgba(135,206,250,0.5),rgba(255,255,64,0.3));    }
.bg4{background: radial-gradient(circle,orange,rgba(255,192,0,0.5),rgba(255,255,64,0.3));    }
.bg5{background: radial-gradient(circle,slateblue,rgba(100,192,255,0.5),rgba(64,200,255,0.1));     }
.bg6{background: radial-gradient(circle,tomato,rgba(192,64,190,0.5),rgba(240,100,140,0.3));    }
.bg7{background: radial-gradient(circle,dimgray,rgba(192,240,64,0.5),rgba(255,255,64,0.3));    }
.bg8{background: radial-gradient(circle,greenyellow,rgba(0,80,0,0.5),rgba(0,0,255,0.3));    }
.bg9{background: radial-gradient(circle,honeydew,rgba(30,50,70,0.5),rgba(0,50,192,0.3));    }
.bg10{background: radial-gradient(circle,orange,rgba(113,179,113,0.5),rgba(0,0,192,0.3));    }
.bg11{background: radial-gradient(circle,crimson,rgba(0,0,64,0.5),rgba(0,0,192,0.3));    }
.bg12{background: radial-gradient(circle,aquamarine,rgba(0,64,124,0.5),rgba(0,90,192,0.3));    }
.bg13{background: radial-gradient(circle,orangered,rgba(30,40,64,0.5),rgba(20,20,20,0.3));    }
.bg14{background: radial-gradient(circle,darkslateblue,rgba(255,10,64,0.5),rgba(72,61,139,0.3));    }
.bg15{background: radial-gradient(circle,maroon,rgba(165,62,92,0.5),rgba(205,92,92,0.3));    }
.bg16{background: radial-gradient(circle,darkolivegreen,rgba(50,205,50,0.5),rgba(50,205,50,0.1));     }
.bg17{background: radial-gradient(circle,lightskyblue,rgba(192,0,192,0.5),rgba(255,64,255,0.3));    }
.bg18{background: radial-gradient(circle,darkviolet,rgba(218,112,214,0.5),rgba(218,112,214,0.1));     }
.bg19{background: radial-gradient(circle,rosybrown,rgba(100,50,0,0.5),rgba(0,50,192,0.1));    }
.bg20{background: radial-gradient(circle,cadetblue,rgba(72,209,204,0.5),rgba(72,209,204,0.1));     }
.bg21{background: radial-gradient(circle,deeppink,rgba(255,0,0,0.5),rgba(255,0,0,0.1));     }
.bg22{background: radial-gradient(circle,peru,rgba(244,164,96,0.5),rgba(244,164,96,0.1));     }
.bg23{background: radial-gradient(circle,mediumblue,rgba(30,144,255,0.5),rgba(30,144,255,0.1));     }
.bg24{background: radial-gradient(circle,forestgreen,rgba(127,255,0,0.5),rgba(127,255,0,0.1));     }
.bg25{background: radial-gradient(circle,darkkhaki,rgba(155,100,100,0.5),rgba(64,215,255,0.1));     }
.bg26{background: radial-gradient(circle,silver,rgba(100,100,100,0.5),rgba(100,100,100,0.1));     }
.bg27{background: radial-gradient(circle,lightblue,rgba(100,100,100,0.5),rgba(100,100,100,0.1));     }
.bg28{background: radial-gradient(circle,palevioletred,rgba(100,100,100,0.5),rgba(100,100,100,0.1));     }
.bg29{background: radial-gradient(circle,sandybrown,rgba(100,100,100,0.5),rgba(100,100,100,0.1));     }
.bg30{background: radial-gradient(circle,brown,rgba(100,100,100,0.5),rgba(100,100,100,0.1));     }

// zone below widget, copies border style and adds icons
.icontray {
    border: 2px solid #E4E6EB;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    min-width:285px;
}


// // stlye widget in situ! // //
// coin icon border
.coinmarketcap-currency-widget>div>div>div>img {
    border: 6px groove rgba(30,50,70,0.5);
}

// imposes label for BTC value
%labelBTCtext {
    content: "Fiat Value $US: ";
}
.coinmarketcap-currency-widget>div>div>div>span:nth-child(5)::before{
    color: ivory;
    @extend %labelBTCtext;
}

// shadows BTC value
.coinmarketcap-currency-widget>div>div>div>span:nth-child(5){
    text-decoration: none;
    text-shadow: 2px 2px 3px #000,
    -2px -2px 3px #000,
    -2px 2px 3px #000,
    2px -2px 3px #000;
}

// imprecise targeting to enhance up/down text
span span {
    text-decoration: none;
    text-shadow: 2px 2px 3px #000,
    -2px -2px 3px #000,
    -2px 2px 3px #000,
    2px -2px 3px #000;
}



// widget title text embiggening
%bigger-title {
    font-size: 1.6em;
    font-family: 'Droid Sans';
}

// title fire effect
span a {
    text-decoration: none;
    text-shadow: 2px 2px 4px #f00,
    -2px -2px 4px #f00,
    -2px 2px 4px #ff0,
    2px -2px 4px #ff0;
    @extend %bigger-title;
}

// nifty fire text for links
.fire:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px #f00,
    -2px -2px 4px #f00,
    -2px 2px 4px #ff0,
    2px -2px 4px #ff0;
    transition: all 0.1s linear;
}



// // u n u s e d // //

// erase original border?? not yet
.coinmarketcap-currency-widget>div::before {
    border: 10px groove rgba(30,50,70,0.5);
}
