@import "../public/bourbon/bourbon";
@import "../public/saffron/saffron";

#root {
    background-image:  linear-gradient(to bottom,rgba(200,0,0,0.5),rgba(0,90,255,0.5)), url("./images/us_flag_pattern.png");
    font-family: serif, arial;
}

// responsive build pill


%media-shift {
    @media screen and (max-width: 400px) and (min-width: 10px) {
        max-width: 90vw;
        border-radius: 8vw;
    }
    @media screen and (max-width: 1280px) and (min-width: 401px) {
        max-width: 42vw;
        border-radius: 6vw;
    }
    @media screen and (max-width: 2000px) and (min-width: 1281px) {
        max-width: 30vw;
        border-radius: 2vw;
    }
    @media screen and (max-width: 4096px) and (min-width: 2001px) {
        max-width: 20vw;
        border-radius: 1vw;
    }
}

%pill-padding {
    padding: 10px;
    margin: 0.5em;
}

// link styling
a {
    color: blue;
    &:hover { color: deepskyblue; } 
}


// layout

.header-shading {
    color: snow;
    background-image:  linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0.9));
}

.nav-link {
    font-family: serif;
    font-weight: bold;
    background-color: rgba(255,255,255,0.65);
    font-size: 24px;
}
.arrow-btn { text-decoration: none; }

.dropdown-item {
    border: 1px solid #999;
    padding: 14px;
    font-family: sans-serif, arial;
}

.dropdown-item > * {
    font-size: 20px;
    padding-top: 10px;
    color: black;
}
.btn-lg {
    background-color: #777;
}
.arrow-btn {
    text-shadow:
        2px 2px 4px black,
        -2px -2px 4px black,
        -2px 2px 4px black,
        2px -2px 4px black;
}
.top-btn {
    color: #e770e9;
    text-decoration: none;
}
.bottom-btn {
    color: #67edea;
    text-decoration: none;    
}

.flip-vertical-fix {
   padding-bottom: 10px;    
}

.card {
    border: black 1px solid;
}

.card-shadow {
    box-shadow:
    0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
}

.card-link {
    text-decoration: none;
}

.semi-opaque {
    background-image: linear-gradient(to right,rgba(255,255,255,0.3), rgba(255,255,255,0.7),rgba(255,255,255,0.9));
}

.card-header {
    color: black;
    background-color: snow;
    border: 1px solid black;
}
.sm-icon {
    max-width: 64px;
    min-width: 64px;
    max-height: 64px;
    min-height: 64px;
    display: inline-block;
}

.list-group-item {
    border: 1px solid black;
}


// text

.outline-digit {
    text-shadow: 0px 1px 1px rgba(255,255,2555,0.75), 0px -1px 1px rgba(0,0,0,0.75);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 42px;
    text-transform:uppercase;
    color: midnightblue;
}

.h1 { font-size: 1.3rem; }
.h2 {
    font-size: 1.2rem;
    font-family: sans-serif;
}
.h3 {
    font-size: 1.1rem;
    font-family: sans-serif;
}
.h4 { font-size: 0.95rem; }
.h5 { font-size: 0.8rem; }

// special icon classes
.sm-icon {
    min-width: 104px;
    min-height: 40px;
    display: inline-block;
    background-repeat: no-repeat;
}
.office-icon-Senator {
    background-image: url("./images/senate_logo.png");
}
.office-icon-Representative {
    background-image: url("./images/house_logo.png");
    width: 50%;
}
.pic-frame {
    border: black dotted 2px;
}

.biopic {
    width: 180px;
    height: 240px;
    background-size: cover;
}

// emphasis
.card-frame:hover {
    @include pulsate();
}

// biographical pictures of congresspersons
#biopic-A000374 {background-image: url("./images/congress/A000374.jpg");}
#biopic-A000370 {background-image: url("./images/congress/A000370.jpg");}
#biopic-A000055 {background-image: url("./images/congress/A000055.jpg");}
#biopic-A000371 {background-image: url("./images/congress/A000371.jpg");}
#biopic-A000360 {background-image: url("./images/congress/A000360.jpg");}
#biopic-A000372 {background-image: url("./images/congress/A000372.jpg");}
#biopic-A000367 {background-image: url("./images/congress/A000367.jpg");}
#biopic-A000369 {background-image: url("./images/congress/A000369.jpg");}
#biopic-A000375 {background-image: url("./images/congress/A000375.jpg");}
#biopic-B001291 {background-image: url("./images/congress/B001291.jpg");}
#biopic-B001298 {background-image: url("./images/congress/B001298.jpg");}
#biopic-B001306 {background-image: url("./images/congress/B001306.jpg");}
#biopic-B001230 {background-image: url("./images/congress/B001230.jpg");}
#biopic-B001299 {background-image: url("./images/congress/B001299.jpg");}
#biopic-B001269 {background-image: url("./images/congress/B001269.jpg");}
#biopic-B001282 {background-image: url("./images/congress/B001282.jpg");}
#biopic-B001300 {background-image: url("./images/congress/B001300.jpg");}
#biopic-B001261 {background-image: url("./images/congress/B001261.jpg");}
#biopic-B000213 {background-image: url("./images/congress/B000213.jpg");}
#biopic-B001270 {background-image: url("./images/congress/B001270.jpg");}
#biopic-B001281 {background-image: url("./images/congress/B001281.jpg");}
#biopic-B000287 {background-image: url("./images/congress/B000287.jpg");}
#biopic-B001267 {background-image: url("./images/congress/B001267.jpg");}
#biopic-B001287 {background-image: url("./images/congress/B001287.jpg");}
#biopic-B001301 {background-image: url("./images/congress/B001301.jpg");}
#biopic-B001292 {background-image: url("./images/congress/B001292.jpg");}
#biopic-B001302 {background-image: url("./images/congress/B001302.jpg");}
#biopic-B001257 {background-image: url("./images/congress/B001257.jpg");}
#biopic-B001293 {background-image: url("./images/congress/B001293.jpg");}
#biopic-B001250 {background-image: url("./images/congress/B001250.jpg");}
#biopic-B000490 {background-image: url("./images/congress/B000490.jpg");}
#biopic-B001273 {background-image: url("./images/congress/B001273.jpg");}
#biopic-B001243 {background-image: url("./images/congress/B001243.jpg");}
#biopic-B001294 {background-image: url("./images/congress/B001294.jpg");}
#biopic-B000574 {background-image: url("./images/congress/B000574.jpg");}
#biopic-B001277 {background-image: url("./images/congress/B001277.jpg");}
#biopic-B001303 {background-image: url("./images/congress/B001303.jpg");}
#biopic-B000575 {background-image: url("./images/congress/B000575.jpg");}
#biopic-B001278 {background-image: url("./images/congress/B001278.jpg");}
#biopic-B001288 {background-image: url("./images/congress/B001288.jpg");}
#biopic-B001236 {background-image: url("./images/congress/B001236.jpg");}
#biopic-B001245 {background-image: url("./images/congress/B001245.jpg");}
#biopic-B001295 {background-image: url("./images/congress/B001295.jpg");}
#biopic-B000682 {background-image: url("./images/congress/B000682.jpg");}
#biopic-B001296 {background-image: url("./images/congress/B001296.jpg");}
#biopic-B000755 {background-image: url("./images/congress/B000755.jpg");}
#biopic-B001227 {background-image: url("./images/congress/B001227.jpg");}
#biopic-B001290 {background-image: url("./images/congress/B001290.jpg");}
#biopic-B001283 {background-image: url("./images/congress/B001283.jpg");}
#biopic-B001274 {background-image: url("./images/congress/B001274.jpg");}
#biopic-B001284 {background-image: url("./images/congress/B001284.jpg");}
#biopic-B001304 {background-image: url("./images/congress/B001304.jpg");}
#biopic-B000944 {background-image: url("./images/congress/B000944.jpg");}
#biopic-B001285 {background-image: url("./images/congress/B001285.jpg");}
#biopic-B001260 {background-image: url("./images/congress/B001260.jpg");}
#biopic-B001297 {background-image: url("./images/congress/B001297.jpg");}
#biopic-B001275 {background-image: url("./images/congress/B001275.jpg");}
#biopic-B001305 {background-image: url("./images/congress/B001305.jpg");}
#biopic-B001248 {background-image: url("./images/congress/B001248.jpg");}
#biopic-B001135 {background-image: url("./images/congress/B001135.jpg");}
#biopic-B001286 {background-image: url("./images/congress/B001286.jpg");}
#biopic-B001251 {background-image: url("./images/congress/B001251.jpg");}
#biopic-B001289 {background-image: url("./images/congress/B001289.jpg");}
#biopic-C000059 {background-image: url("./images/congress/C000059.jpg");}
#biopic-C000127 {background-image: url("./images/congress/C000127.jpg");}
#biopic-C001047 {background-image: url("./images/congress/C001047.jpg");}
#biopic-C001037 {background-image: url("./images/congress/C001037.jpg");}
#biopic-C001112 {background-image: url("./images/congress/C001112.jpg");}
#biopic-C001097 {background-image: url("./images/congress/C001097.jpg");}
#biopic-C000141 {background-image: url("./images/congress/C000141.jpg");}
#biopic-C000174 {background-image: url("./images/congress/C000174.jpg");}
#biopic-C001072 {background-image: url("./images/congress/C001072.jpg");}
#biopic-C001103 {background-image: url("./images/congress/C001103.jpg");}
#biopic-C001051 {background-image: url("./images/congress/C001051.jpg");}
#biopic-C001090 {background-image: url("./images/congress/C001090.jpg");}
#biopic-C001070 {background-image: url("./images/congress/C001070.jpg");}
#biopic-C001075 {background-image: url("./images/congress/C001075.jpg");}
#biopic-C001066 {background-image: url("./images/congress/C001066.jpg");}
#biopic-C001091 {background-image: url("./images/congress/C001091.jpg");}
#biopic-C000266 {background-image: url("./images/congress/C000266.jpg");}
#biopic-C001076 {background-image: url("./images/congress/C001076.jpg");}
#biopic-C001109 {background-image: url("./images/congress/C001109.jpg");}
#biopic-C001080 {background-image: url("./images/congress/C001080.jpg");}
#biopic-C001084 {background-image: url("./images/congress/C001084.jpg");}
#biopic-C001101 {background-image: url("./images/congress/C001101.jpg");}
#biopic-C001067 {background-image: url("./images/congress/C001067.jpg");}
#biopic-C001049 {background-image: url("./images/congress/C001049.jpg");}
#biopic-C001061 {background-image: url("./images/congress/C001061.jpg");}
#biopic-C001115 {background-image: url("./images/congress/C001115.jpg");}
#biopic-C000537 {background-image: url("./images/congress/C000537.jpg");}
#biopic-C000567 {background-image: url("./images/congress/C000567.jpg");}
#biopic-C001077 {background-image: url("./images/congress/C001077.jpg");}
#biopic-C001068 {background-image: url("./images/congress/C001068.jpg");}
#biopic-C001053 {background-image: url("./images/congress/C001053.jpg");}
#biopic-C001092 {background-image: url("./images/congress/C001092.jpg");}
#biopic-C001093 {background-image: url("./images/congress/C001093.jpg");}
#biopic-C001035 {background-image: url("./images/congress/C001035.jpg");}
#biopic-C001108 {background-image: url("./images/congress/C001108.jpg");}
#biopic-C001105 {background-image: url("./images/congress/C001105.jpg");}
#biopic-C001062 {background-image: url("./images/congress/C001062.jpg");}
#biopic-C001078 {background-image: url("./images/congress/C001078.jpg");}
#biopic-C000714 {background-image: url("./images/congress/C000714.jpg");}
#biopic-C001094 {background-image: url("./images/congress/C001094.jpg");}
#biopic-C001088 {background-image: url("./images/congress/C001088.jpg");}
#biopic-C000754 {background-image: url("./images/congress/C000754.jpg");}
#biopic-C001071 {background-image: url("./images/congress/C001071.jpg");}
#biopic-C001056 {background-image: url("./images/congress/C001056.jpg");}
#biopic-C001110 {background-image: url("./images/congress/C001110.jpg");}
#biopic-C001113 {background-image: url("./images/congress/C001113.jpg");}
#biopic-C001059 {background-image: url("./images/congress/C001059.jpg");}
#biopic-C001106 {background-image: url("./images/congress/C001106.jpg");}
#biopic-C001095 {background-image: url("./images/congress/C001095.jpg");}
#biopic-C001069 {background-image: url("./images/congress/C001069.jpg");}
#biopic-C001096 {background-image: url("./images/congress/C001096.jpg");}
#biopic-C000880 {background-image: url("./images/congress/C000880.jpg");}
#biopic-C001087 {background-image: url("./images/congress/C001087.jpg");}
#biopic-C001111 {background-image: url("./images/congress/C001111.jpg");}
#biopic-C001038 {background-image: url("./images/congress/C001038.jpg");}
#biopic-C001098 {background-image: url("./images/congress/C001098.jpg");}
#biopic-C001063 {background-image: url("./images/congress/C001063.jpg");}
#biopic-C001048 {background-image: url("./images/congress/C001048.jpg");}
#biopic-C000984 {background-image: url("./images/congress/C000984.jpg");}
#biopic-C001107 {background-image: url("./images/congress/C001107.jpg");}
#biopic-C001114 {background-image: url("./images/congress/C001114.jpg");}
#biopic-D000618 {background-image: url("./images/congress/D000618.jpg");}
#biopic-D000626 {background-image: url("./images/congress/D000626.jpg");}
#biopic-D000096 {background-image: url("./images/congress/D000096.jpg");}
#biopic-D000619 {background-image: url("./images/congress/D000619.jpg");}
#biopic-D000598 {background-image: url("./images/congress/D000598.jpg");}
#biopic-D000191 {background-image: url("./images/congress/D000191.jpg");}
#biopic-D000197 {background-image: url("./images/congress/D000197.jpg");}
#biopic-D000620 {background-image: url("./images/congress/D000620.jpg");}
#biopic-D000216 {background-image: url("./images/congress/D000216.jpg");}
#biopic-D000617 {background-image: url("./images/congress/D000617.jpg");}
#biopic-D000627 {background-image: url("./images/congress/D000627.jpg");}
#biopic-D000612 {background-image: url("./images/congress/D000612.jpg");}
#biopic-D000604 {background-image: url("./images/congress/D000604.jpg");}
#biopic-D000621 {background-image: url("./images/congress/D000621.jpg");}
#biopic-D000623 {background-image: url("./images/congress/D000623.jpg");}
#biopic-D000616 {background-image: url("./images/congress/D000616.jpg");}
#biopic-D000610 {background-image: url("./images/congress/D000610.jpg");}
#biopic-D000600 {background-image: url("./images/congress/D000600.jpg");}
#biopic-D000624 {background-image: url("./images/congress/D000624.jpg");}
#biopic-D000399 {background-image: url("./images/congress/D000399.jpg");}
#biopic-D000607 {background-image: url("./images/congress/D000607.jpg");}
#biopic-D000625 {background-image: url("./images/congress/D000625.jpg");}
#biopic-D000482 {background-image: url("./images/congress/D000482.jpg");}
#biopic-D000622 {background-image: url("./images/congress/D000622.jpg");}
#biopic-D000614 {background-image: url("./images/congress/D000614.jpg");}
#biopic-D000615 {background-image: url("./images/congress/D000615.jpg");}
#biopic-D000533 {background-image: url("./images/congress/D000533.jpg");}
#biopic-D000628 {background-image: url("./images/congress/D000628.jpg");}
#biopic-D000563 {background-image: url("./images/congress/D000563.jpg");}
#biopic-E000288 {background-image: url("./images/congress/E000288.jpg");}
#biopic-E000294 {background-image: url("./images/congress/E000294.jpg");}
#biopic-E000179 {background-image: url("./images/congress/E000179.jpg");}
#biopic-E000285 {background-image: url("./images/congress/E000285.jpg");}
#biopic-E000295 {background-image: url("./images/congress/E000295.jpg");}
#biopic-E000215 {background-image: url("./images/congress/E000215.jpg");}
#biopic-E000297 {background-image: url("./images/congress/E000297.jpg");}
#biopic-E000298 {background-image: url("./images/congress/E000298.jpg");}
#biopic-E000293 {background-image: url("./images/congress/E000293.jpg");}
#biopic-E000296 {background-image: url("./images/congress/E000296.jpg");}
#biopic-F000460 {background-image: url("./images/congress/F000460.jpg");}
#biopic-F000464 {background-image: url("./images/congress/F000464.jpg");}
#biopic-F000062 {background-image: url("./images/congress/F000062.jpg");}
#biopic-F000465 {background-image: url("./images/congress/F000465.jpg");}
#biopic-F000463 {background-image: url("./images/congress/F000463.jpg");}
#biopic-F000466 {background-image: url("./images/congress/F000466.jpg");}
#biopic-F000444 {background-image: url("./images/congress/F000444.jpg");}
#biopic-F000459 {background-image: url("./images/congress/F000459.jpg");}
#biopic-F000461 {background-image: url("./images/congress/F000461.jpg");}
#biopic-F000449 {background-image: url("./images/congress/F000449.jpg");}
#biopic-F000454 {background-image: url("./images/congress/F000454.jpg");}
#biopic-F000450 {background-image: url("./images/congress/F000450.jpg");}
#biopic-F000462 {background-image: url("./images/congress/F000462.jpg");}
#biopic-F000457 {background-image: url("./images/congress/F000457.jpg");}
#biopic-F000448 {background-image: url("./images/congress/F000448.jpg");}
#biopic-F000372 {background-image: url("./images/congress/F000372.jpg");}
#biopic-F000455 {background-image: url("./images/congress/F000455.jpg");}
#biopic-G000571 {background-image: url("./images/congress/G000571.jpg");}
#biopic-G000578 {background-image: url("./images/congress/G000578.jpg");}
#biopic-G000579 {background-image: url("./images/congress/G000579.jpg");}
#biopic-G000574 {background-image: url("./images/congress/G000574.jpg");}
#biopic-G000559 {background-image: url("./images/congress/G000559.jpg");}
#biopic-G000562 {background-image: url("./images/congress/G000562.jpg");}
#biopic-G000580 {background-image: url("./images/congress/G000580.jpg");}
#biopic-G000584 {background-image: url("./images/congress/G000584.jpg");}
#biopic-G000563 {background-image: url("./images/congress/G000563.jpg");}
#biopic-G000555 {background-image: url("./images/congress/G000555.jpg");}
#biopic-G000552 {background-image: url("./images/congress/G000552.jpg");}
#biopic-G000585 {background-image: url("./images/congress/G000585.jpg");}
#biopic-G000581 {background-image: url("./images/congress/G000581.jpg");}
#biopic-G000582 {background-image: url("./images/congress/G000582.jpg");}
#biopic-G000289 {background-image: url("./images/congress/G000289.jpg");}
#biopic-G000565 {background-image: url("./images/congress/G000565.jpg");}
#biopic-G000583 {background-image: url("./images/congress/G000583.jpg");}
#biopic-G000566 {background-image: url("./images/congress/G000566.jpg");}
#biopic-G000359 {background-image: url("./images/congress/G000359.jpg");}
#biopic-G000377 {background-image: url("./images/congress/G000377.jpg");}
#biopic-G000386 {background-image: url("./images/congress/G000386.jpg");}
#biopic-G000577 {background-image: url("./images/congress/G000577.jpg");}
#biopic-G000546 {background-image: url("./images/congress/G000546.jpg");}
#biopic-G000560 {background-image: url("./images/congress/G000560.jpg");}
#biopic-G000553 {background-image: url("./images/congress/G000553.jpg");}
#biopic-G000410 {background-image: url("./images/congress/G000410.jpg");}
#biopic-G000568 {background-image: url("./images/congress/G000568.jpg");}
#biopic-G000551 {background-image: url("./images/congress/G000551.jpg");}
#biopic-G000576 {background-image: url("./images/congress/G000576.jpg");}
#biopic-G000558 {background-image: url("./images/congress/G000558.jpg");}
#biopic-G000535 {background-image: url("./images/congress/G000535.jpg");}
#biopic-H001050 {background-image: url("./images/congress/H001050.jpg");}
#biopic-H001078 {background-image: url("./images/congress/H001078.jpg");}
#biopic-H001045 {background-image: url("./images/congress/H001045.jpg");}
#biopic-H001052 {background-image: url("./images/congress/H001052.jpg");}
#biopic-H001075 {background-image: url("./images/congress/H001075.jpg");}
#biopic-H001053 {background-image: url("./images/congress/H001053.jpg");}
#biopic-H001076 {background-image: url("./images/congress/H001076.jpg");}
#biopic-H000324 {background-image: url("./images/congress/H000324.jpg");}
#biopic-H000338 {background-image: url("./images/congress/H000338.jpg");}
#biopic-H001064 {background-image: url("./images/congress/H001064.jpg");}
#biopic-H001046 {background-image: url("./images/congress/H001046.jpg");}
#biopic-H001069 {background-image: url("./images/congress/H001069.jpg");}
#biopic-H001041 {background-image: url("./images/congress/H001041.jpg");}
#biopic-H001036 {background-image: url("./images/congress/H001036.jpg");}
#biopic-H001056 {background-image: url("./images/congress/H001056.jpg");}
#biopic-H001071 {background-image: url("./images/congress/H001071.jpg");}
#biopic-H001038 {background-image: url("./images/congress/H001038.jpg");}
#biopic-H001077 {background-image: url("./images/congress/H001077.jpg");}
#biopic-H001072 {background-image: url("./images/congress/H001072.jpg");}
#biopic-H001047 {background-image: url("./images/congress/H001047.jpg");}
#biopic-H001042 {background-image: url("./images/congress/H001042.jpg");}
#biopic-H001061 {background-image: url("./images/congress/H001061.jpg");}
#biopic-H001065 {background-image: url("./images/congress/H001065.jpg");}
#biopic-H001074 {background-image: url("./images/congress/H001074.jpg");}
#biopic-H000874 {background-image: url("./images/congress/H000874.jpg");}
#biopic-H001067 {background-image: url("./images/congress/H001067.jpg");}
#biopic-H001068 {background-image: url("./images/congress/H001068.jpg");}
#biopic-H001058 {background-image: url("./images/congress/H001058.jpg");}
#biopic-H001059 {background-image: url("./images/congress/H001059.jpg");}
#biopic-H001048 {background-image: url("./images/congress/H001048.jpg");}
#biopic-H001073 {background-image: url("./images/congress/H001073.jpg");}
#biopic-H001079 {background-image: url("./images/congress/H001079.jpg");}
#biopic-I000024 {background-image: url("./images/congress/I000024.jpg");}
#biopic-I000055 {background-image: url("./images/congress/I000055.jpg");}
#biopic-I000056 {background-image: url("./images/congress/I000056.jpg");}
#biopic-J000032 {background-image: url("./images/congress/J000032.jpg");}
#biopic-J000298 {background-image: url("./images/congress/J000298.jpg");}
#biopic-J000294 {background-image: url("./images/congress/J000294.jpg");}
#biopic-J000297 {background-image: url("./images/congress/J000297.jpg");}
#biopic-J000290 {background-image: url("./images/congress/J000290.jpg");}
#biopic-J000292 {background-image: url("./images/congress/J000292.jpg");}
#biopic-J000126 {background-image: url("./images/congress/J000126.jpg");}
#biopic-J000288 {background-image: url("./images/congress/J000288.jpg");}
#biopic-J000299 {background-image: url("./images/congress/J000299.jpg");}
#biopic-J000293 {background-image: url("./images/congress/J000293.jpg");}
#biopic-J000174 {background-image: url("./images/congress/J000174.jpg");}
#biopic-J000300 {background-image: url("./images/congress/J000300.jpg");}
#biopic-J000255 {background-image: url("./images/congress/J000255.jpg");}
#biopic-J000289 {background-image: url("./images/congress/J000289.jpg");}
#biopic-J000295 {background-image: url("./images/congress/J000295.jpg");}
#biopic-K000384 {background-image: url("./images/congress/K000384.jpg");}
#biopic-K000009 {background-image: url("./images/congress/K000009.jpg");}
#biopic-K000386 {background-image: url("./images/congress/K000386.jpg");}
#biopic-K000375 {background-image: url("./images/congress/K000375.jpg");}
#biopic-K000376 {background-image: url("./images/congress/K000376.jpg");}
#biopic-K000385 {background-image: url("./images/congress/K000385.jpg");}
#biopic-K000388 {background-image: url("./images/congress/K000388.jpg");}
#biopic-K000393 {background-image: url("./images/congress/K000393.jpg");}
#biopic-K000379 {background-image: url("./images/congress/K000379.jpg");}
#biopic-K000389 {background-image: url("./images/congress/K000389.jpg");}
#biopic-K000390 {background-image: url("./images/congress/K000390.jpg");}
#biopic-K000380 {background-image: url("./images/congress/K000380.jpg");}
#biopic-K000381 {background-image: url("./images/congress/K000381.jpg");}
#biopic-K000188 {background-image: url("./images/congress/K000188.jpg");}
#biopic-K000383 {background-image: url("./images/congress/K000383.jpg");}
#biopic-K000210 {background-image: url("./images/congress/K000210.jpg");}
#biopic-K000362 {background-image: url("./images/congress/K000362.jpg");}
#biopic-K000378 {background-image: url("./images/congress/K000378.jpg");}
#biopic-K000367 {background-image: url("./images/congress/K000367.jpg");}
#biopic-K000387 {background-image: url("./images/congress/K000387.jpg");}
#biopic-K000391 {background-image: url("./images/congress/K000391.jpg");}
#biopic-K000382 {background-image: url("./images/congress/K000382.jpg");}
#biopic-K000392 {background-image: url("./images/congress/K000392.jpg");}
#biopic-K000352 {background-image: url("./images/congress/K000352.jpg");}
#biopic-L000573 {background-image: url("./images/congress/L000573.jpg");}
#biopic-L000585 {background-image: url("./images/congress/L000585.jpg");}
#biopic-L000578 {background-image: url("./images/congress/L000578.jpg");}
#biopic-L000588 {background-image: url("./images/congress/L000588.jpg");}
#biopic-L000564 {background-image: url("./images/congress/L000564.jpg");}
#biopic-L000567 {background-image: url("./images/congress/L000567.jpg");}
#biopic-L000559 {background-image: url("./images/congress/L000559.jpg");}
#biopic-L000575 {background-image: url("./images/congress/L000575.jpg");}
#biopic-L000560 {background-image: url("./images/congress/L000560.jpg");}
#biopic-L000557 {background-image: url("./images/congress/L000557.jpg");}
#biopic-L000566 {background-image: url("./images/congress/L000566.jpg");}
#biopic-L000581 {background-image: url("./images/congress/L000581.jpg");}
#biopic-L000586 {background-image: url("./images/congress/L000586.jpg");}
#biopic-L000174 {background-image: url("./images/congress/L000174.jpg");}
#biopic-L000551 {background-image: url("./images/congress/L000551.jpg");}
#biopic-L000577 {background-image: url("./images/congress/L000577.jpg");}
#biopic-L000589 {background-image: url("./images/congress/L000589.jpg");}
#biopic-L000263 {background-image: url("./images/congress/L000263.jpg");}
#biopic-L000587 {background-image: url("./images/congress/L000587.jpg");}
#biopic-L000287 {background-image: url("./images/congress/L000287.jpg");}
#biopic-L000582 {background-image: url("./images/congress/L000582.jpg");}
#biopic-L000563 {background-image: url("./images/congress/L000563.jpg");}
#biopic-L000554 {background-image: url("./images/congress/L000554.jpg");}
#biopic-L000565 {background-image: url("./images/congress/L000565.jpg");}
#biopic-L000397 {background-image: url("./images/congress/L000397.jpg");}
#biopic-L000576 {background-image: url("./images/congress/L000576.jpg");}
#biopic-L000583 {background-image: url("./images/congress/L000583.jpg");}
#biopic-L000584 {background-image: url("./images/congress/L000584.jpg");}
#biopic-L000579 {background-image: url("./images/congress/L000579.jpg");}
#biopic-L000480 {background-image: url("./images/congress/L000480.jpg");}
#biopic-L000491 {background-image: url("./images/congress/L000491.jpg");}
#biopic-L000569 {background-image: url("./images/congress/L000569.jpg");}
#biopic-L000580 {background-image: url("./images/congress/L000580.jpg");}
#biopic-L000570 {background-image: url("./images/congress/L000570.jpg");}
#biopic-L000562 {background-image: url("./images/congress/L000562.jpg");}
#biopic-M001193 {background-image: url("./images/congress/M001193.jpg");}
#biopic-M000087 {background-image: url("./images/congress/M000087.jpg");}
#biopic-M001185 {background-image: url("./images/congress/M001185.jpg");}
#biopic-M001183 {background-image: url("./images/congress/M001183.jpg");}
#biopic-M001158 {background-image: url("./images/congress/M001158.jpg");}
#biopic-M001179 {background-image: url("./images/congress/M001179.jpg");}
#biopic-M000133 {background-image: url("./images/congress/M000133.jpg");}
#biopic-M001198 {background-image: url("./images/congress/M001198.jpg");}
#biopic-M001184 {background-image: url("./images/congress/M001184.jpg");}
#biopic-M001199 {background-image: url("./images/congress/M001199.jpg");}
#biopic-M001163 {background-image: url("./images/congress/M001163.jpg");}
#biopic-M000303 {background-image: url("./images/congress/M000303.jpg");}
#biopic-M001165 {background-image: url("./images/congress/M001165.jpg");}
#biopic-M001170 {background-image: url("./images/congress/M001170.jpg");}
#biopic-M001157 {background-image: url("./images/congress/M001157.jpg");}
#biopic-M001177 {background-image: url("./images/congress/M001177.jpg");}
#biopic-M001143 {background-image: url("./images/congress/M001143.jpg");}
#biopic-M000355 {background-image: url("./images/congress/M000355.jpg");}
#biopic-M001200 {background-image: url("./images/congress/M001200.jpg");}
#biopic-M000312 {background-image: url("./images/congress/M000312.jpg");}
#biopic-M001156 {background-image: url("./images/congress/M001156.jpg");}
#biopic-M001180 {background-image: url("./images/congress/M001180.jpg");}
#biopic-M001159 {background-image: url("./images/congress/M001159.jpg");}
#biopic-M001166 {background-image: url("./images/congress/M001166.jpg");}
#biopic-M001197 {background-image: url("./images/congress/M001197.jpg");}
#biopic-M001187 {background-image: url("./images/congress/M001187.jpg");}
#biopic-M001181 {background-image: url("./images/congress/M001181.jpg");}
#biopic-M001137 {background-image: url("./images/congress/M001137.jpg");}
#biopic-M000639 {background-image: url("./images/congress/M000639.jpg");}
#biopic-M001188 {background-image: url("./images/congress/M001188.jpg");}
#biopic-M001176 {background-image: url("./images/congress/M001176.jpg");}
#biopic-M001189 {background-image: url("./images/congress/M001189.jpg");}
#biopic-M001201 {background-image: url("./images/congress/M001201.jpg");}
#biopic-M001194 {background-image: url("./images/congress/M001194.jpg");}
#biopic-M001195 {background-image: url("./images/congress/M001195.jpg");}
#biopic-M001160 {background-image: url("./images/congress/M001160.jpg");}
#biopic-M000934 {background-image: url("./images/congress/M000934.jpg");}
#biopic-M001196 {background-image: url("./images/congress/M001196.jpg");}
#biopic-M001190 {background-image: url("./images/congress/M001190.jpg");}
#biopic-M001182 {background-image: url("./images/congress/M001182.jpg");}
#biopic-M001153 {background-image: url("./images/congress/M001153.jpg");}
#biopic-M001169 {background-image: url("./images/congress/M001169.jpg");}
#biopic-M001202 {background-image: url("./images/congress/M001202.jpg");}
#biopic-M001151 {background-image: url("./images/congress/M001151.jpg");}
#biopic-M001111 {background-image: url("./images/congress/M001111.jpg");}
#biopic-N000002 {background-image: url("./images/congress/N000002.jpg");}
#biopic-N000179 {background-image: url("./images/congress/N000179.jpg");}
#biopic-N000015 {background-image: url("./images/congress/N000015.jpg");}
#biopic-N000032 {background-image: url("./images/congress/N000032.jpg");}
#biopic-N000189 {background-image: url("./images/congress/N000189.jpg");}
#biopic-N000184 {background-image: url("./images/congress/N000184.jpg");}
#biopic-N000127 {background-image: url("./images/congress/N000127.jpg");}
#biopic-N000188 {background-image: url("./images/congress/N000188.jpg");}
#biopic-N000190 {background-image: url("./images/congress/N000190.jpg");}
#biopic-N000147 {background-image: url("./images/congress/N000147.jpg");}
#biopic-N000181 {background-image: url("./images/congress/N000181.jpg");}
#biopic-O000171 {background-image: url("./images/congress/O000171.jpg");}
#biopic-O000170 {background-image: url("./images/congress/O000170.jpg");}
#biopic-O000168 {background-image: url("./images/congress/O000168.jpg");}
#biopic-P000601 {background-image: url("./images/congress/P000601.jpg");}
#biopic-P000034 {background-image: url("./images/congress/P000034.jpg");}
#biopic-P000609 {background-image: url("./images/congress/P000609.jpg");}
#biopic-P000613 {background-image: url("./images/congress/P000613.jpg");}
#biopic-P000096 {background-image: url("./images/congress/P000096.jpg");}
#biopic-P000603 {background-image: url("./images/congress/P000603.jpg");}
#biopic-P000594 {background-image: url("./images/congress/P000594.jpg");}
#biopic-P000604 {background-image: url("./images/congress/P000604.jpg");}
#biopic-P000588 {background-image: url("./images/congress/P000588.jpg");}
#biopic-P000197 {background-image: url("./images/congress/P000197.jpg");}
#biopic-P000612 {background-image: url("./images/congress/P000612.jpg");}
#biopic-P000593 {background-image: url("./images/congress/P000593.jpg");}
#biopic-P000605 {background-image: url("./images/congress/P000605.jpg");}
#biopic-P000595 {background-image: url("./images/congress/P000595.jpg");}
#biopic-P000608 {background-image: url("./images/congress/P000608.jpg");}
#biopic-P000258 {background-image: url("./images/congress/P000258.jpg");}
#biopic-P000597 {background-image: url("./images/congress/P000597.jpg");}
#biopic-P000606 {background-image: url("./images/congress/P000606.jpg");}
#biopic-P000610 {background-image: url("./images/congress/P000610.jpg");}
#biopic-P000607 {background-image: url("./images/congress/P000607.jpg");}
#biopic-P000592 {background-image: url("./images/congress/P000592.jpg");}
#biopic-P000611 {background-image: url("./images/congress/P000611.jpg");}
#biopic-P000598 {background-image: url("./images/congress/P000598.jpg");}
#biopic-P000602 {background-image: url("./images/congress/P000602.jpg");}
#biopic-P000449 {background-image: url("./images/congress/P000449.jpg");}
#biopic-P000599 {background-image: url("./images/congress/P000599.jpg");}
#biopic-P000523 {background-image: url("./images/congress/P000523.jpg");}
#biopic-P000591 {background-image: url("./images/congress/P000591.jpg");}
#biopic-Q000023 {background-image: url("./images/congress/Q000023.jpg");}
#biopic-R000600 {background-image: url("./images/congress/R000600.jpg");}
#biopic-R000606 {background-image: url("./images/congress/R000606.jpg");}
#biopic-R000601 {background-image: url("./images/congress/R000601.jpg");}
#biopic-R000122 {background-image: url("./images/congress/R000122.jpg");}
#biopic-R000585 {background-image: url("./images/congress/R000585.jpg");}
#biopic-R000578 {background-image: url("./images/congress/R000578.jpg");}
#biopic-R000586 {background-image: url("./images/congress/R000586.jpg");}
#biopic-R000602 {background-image: url("./images/congress/R000602.jpg");}
#biopic-R000597 {background-image: url("./images/congress/R000597.jpg");}
#biopic-R000588 {background-image: url("./images/congress/R000588.jpg");}
#biopic-R000584 {background-image: url("./images/congress/R000584.jpg");}
#biopic-R000307 {background-image: url("./images/congress/R000307.jpg");}
#biopic-R000591 {background-image: url("./images/congress/R000591.jpg");}
#biopic-R000582 {background-image: url("./images/congress/R000582.jpg");}
#biopic-R000395 {background-image: url("./images/congress/R000395.jpg");}
#biopic-R000575 {background-image: url("./images/congress/R000575.jpg");}
#biopic-R000409 {background-image: url("./images/congress/R000409.jpg");}
#biopic-R000592 {background-image: url("./images/congress/R000592.jpg");}
#biopic-R000607 {background-image: url("./images/congress/R000607.jpg");}
#biopic-R000583 {background-image: url("./images/congress/R000583.jpg");}
#biopic-R000435 {background-image: url("./images/congress/R000435.jpg");}
#biopic-R000608 {background-image: url("./images/congress/R000608.jpg");}
#biopic-R000580 {background-image: url("./images/congress/R000580.jpg");}
#biopic-R000593 {background-image: url("./images/congress/R000593.jpg");}
#biopic-R000598 {background-image: url("./images/congress/R000598.jpg");}
#biopic-R000605 {background-image: url("./images/congress/R000605.jpg");}
#biopic-R000603 {background-image: url("./images/congress/R000603.jpg");}
#biopic-R000486 {background-image: url("./images/congress/R000486.jpg");}
#biopic-R000487 {background-image: url("./images/congress/R000487.jpg");}
#biopic-R000595 {background-image: url("./images/congress/R000595.jpg");}
#biopic-R000599 {background-image: url("./images/congress/R000599.jpg");}
#biopic-R000576 {background-image: url("./images/congress/R000576.jpg");}
#biopic-R000515 {background-image: url("./images/congress/R000515.jpg");}
#biopic-R000604 {background-image: url("./images/congress/R000604.jpg");}
#biopic-R000609 {background-image: url("./images/congress/R000609.jpg");}
#biopic-R000570 {background-image: url("./images/congress/R000570.jpg");}
#biopic-R000577 {background-image: url("./images/congress/R000577.jpg");}
#biopic-S001177 {background-image: url("./images/congress/S001177.jpg");}
#biopic-S001156 {background-image: url("./images/congress/S001156.jpg");}
#biopic-S000033 {background-image: url("./images/congress/S000033.jpg");}
#biopic-S000051 {background-image: url("./images/congress/S000051.jpg");}
#biopic-S001168 {background-image: url("./images/congress/S001168.jpg");}
#biopic-S001197 {background-image: url("./images/congress/S001197.jpg");}
#biopic-S001176 {background-image: url("./images/congress/S001176.jpg");}
#biopic-S001145 {background-image: url("./images/congress/S001145.jpg");}
#biopic-S001194 {background-image: url("./images/congress/S001194.jpg");}
#biopic-S001150 {background-image: url("./images/congress/S001150.jpg");}
#biopic-S001190 {background-image: url("./images/congress/S001190.jpg");}
#biopic-S001180 {background-image: url("./images/congress/S001180.jpg");}
#biopic-S000148 {background-image: url("./images/congress/S000148.jpg");}
#biopic-S001183 {background-image: url("./images/congress/S001183.jpg");}
#biopic-S001189 {background-image: url("./images/congress/S001189.jpg");}
#biopic-S001157 {background-image: url("./images/congress/S001157.jpg");}
#biopic-S000185 {background-image: url("./images/congress/S000185.jpg");}
#biopic-S001184 {background-image: url("./images/congress/S001184.jpg");}
#biopic-S000244 {background-image: url("./images/congress/S000244.jpg");}
#biopic-S000248 {background-image: url("./images/congress/S000248.jpg");}
#biopic-S001141 {background-image: url("./images/congress/S001141.jpg");}
#biopic-S000250 {background-image: url("./images/congress/S000250.jpg");}
#biopic-S001185 {background-image: url("./images/congress/S001185.jpg");}
#biopic-S001181 {background-image: url("./images/congress/S001181.jpg");}
#biopic-S001170 {background-image: url("./images/congress/S001170.jpg");}
#biopic-S000320 {background-image: url("./images/congress/S000320.jpg");}
#biopic-S000344 {background-image: url("./images/congress/S000344.jpg");}
#biopic-S000364 {background-image: url("./images/congress/S000364.jpg");}
#biopic-S001154 {background-image: url("./images/congress/S001154.jpg");}
#biopic-S001148 {background-image: url("./images/congress/S001148.jpg");}
#biopic-S001191 {background-image: url("./images/congress/S001191.jpg");}
#biopic-S001165 {background-image: url("./images/congress/S001165.jpg");}
#biopic-S000480 {background-image: url("./images/congress/S000480.jpg");}
#biopic-S000510 {background-image: url("./images/congress/S000510.jpg");}
#biopic-S001172 {background-image: url("./images/congress/S001172.jpg");}
#biopic-S000522 {background-image: url("./images/congress/S000522.jpg");}
#biopic-S001195 {background-image: url("./images/congress/S001195.jpg");}
#biopic-S000583 {background-image: url("./images/congress/S000583.jpg");}
#biopic-S001203 {background-image: url("./images/congress/S001203.jpg");}
#biopic-S001199 {background-image: url("./images/congress/S001199.jpg");}
#biopic-S001200 {background-image: url("./images/congress/S001200.jpg");}
#biopic-S001175 {background-image: url("./images/congress/S001175.jpg");}
#biopic-S000770 {background-image: url("./images/congress/S000770.jpg");}
#biopic-S001196 {background-image: url("./images/congress/S001196.jpg");}
#biopic-S001192 {background-image: url("./images/congress/S001192.jpg");}
#biopic-S001187 {background-image: url("./images/congress/S001187.jpg");}
#biopic-S001202 {background-image: url("./images/congress/S001202.jpg");}
#biopic-S001198 {background-image: url("./images/congress/S001198.jpg");}
#biopic-S001201 {background-image: url("./images/congress/S001201.jpg");}
#biopic-S001193 {background-image: url("./images/congress/S001193.jpg");}
#biopic-T000472 {background-image: url("./images/congress/T000472.jpg");}
#biopic-T000477 {background-image: url("./images/congress/T000477.jpg");}
#biopic-T000478 {background-image: url("./images/congress/T000478.jpg");}
#biopic-T000464 {background-image: url("./images/congress/T000464.jpg");}
#biopic-T000193 {background-image: url("./images/congress/T000193.jpg");}
#biopic-T000467 {background-image: url("./images/congress/T000467.jpg");}
#biopic-T000460 {background-image: url("./images/congress/T000460.jpg");}
#biopic-T000238 {background-image: url("./images/congress/T000238.jpg");}
#biopic-T000250 {background-image: url("./images/congress/T000250.jpg");}
#biopic-T000462 {background-image: url("./images/congress/T000462.jpg");}
#biopic-T000476 {background-image: url("./images/congress/T000476.jpg");}
#biopic-T000470 {background-image: url("./images/congress/T000470.jpg");}
#biopic-T000468 {background-image: url("./images/congress/T000468.jpg");}
#biopic-T000469 {background-image: url("./images/congress/T000469.jpg");}
#biopic-T000461 {background-image: url("./images/congress/T000461.jpg");}
#biopic-T000474 {background-image: url("./images/congress/T000474.jpg");}
#biopic-T000475 {background-image: url("./images/congress/T000475.jpg");}
#biopic-T000465 {background-image: url("./images/congress/T000465.jpg");}
#biopic-T000463 {background-image: url("./images/congress/T000463.jpg");}
#biopic-U000039 {background-image: url("./images/congress/U000039.jpg");}
#biopic-U000031 {background-image: url("./images/congress/U000031.jpg");}
#biopic-V000129 {background-image: url("./images/congress/V000129.jpg");}
#biopic-V000128 {background-image: url("./images/congress/V000128.jpg");}
#biopic-V000130 {background-image: url("./images/congress/V000130.jpg");}
#biopic-V000131 {background-image: url("./images/congress/V000131.jpg");}
#biopic-V000132 {background-image: url("./images/congress/V000132.jpg");}
#biopic-V000081 {background-image: url("./images/congress/V000081.jpg");}
#biopic-V000108 {background-image: url("./images/congress/V000108.jpg");}
#biopic-W000812 {background-image: url("./images/congress/W000812.jpg");}
#biopic-W000798 {background-image: url("./images/congress/W000798.jpg");}
#biopic-W000791 {background-image: url("./images/congress/W000791.jpg");}
#biopic-W000819 {background-image: url("./images/congress/W000819.jpg");}
#biopic-W000813 {background-image: url("./images/congress/W000813.jpg");}
#biopic-W000820 {background-image: url("./images/congress/W000820.jpg");}
#biopic-W000799 {background-image: url("./images/congress/W000799.jpg");}
#biopic-W000805 {background-image: url("./images/congress/W000805.jpg");}
#biopic-W000817 {background-image: url("./images/congress/W000817.jpg");}
#biopic-W000797 {background-image: url("./images/congress/W000797.jpg");}
#biopic-W000187 {background-image: url("./images/congress/W000187.jpg");}
#biopic-W000822 {background-image: url("./images/congress/W000822.jpg");}
#biopic-W000814 {background-image: url("./images/congress/W000814.jpg");}
#biopic-W000806 {background-image: url("./images/congress/W000806.jpg");}
#biopic-W000800 {background-image: url("./images/congress/W000800.jpg");}
#biopic-W000815 {background-image: url("./images/congress/W000815.jpg");}
#biopic-W000821 {background-image: url("./images/congress/W000821.jpg");}
#biopic-W000802 {background-image: url("./images/congress/W000802.jpg");}
#biopic-W000437 {background-image: url("./images/congress/W000437.jpg");}
#biopic-W000816 {background-image: url("./images/congress/W000816.jpg");}
#biopic-W000808 {background-image: url("./images/congress/W000808.jpg");}
#biopic-W000795 {background-image: url("./images/congress/W000795.jpg");}
#biopic-W000804 {background-image: url("./images/congress/W000804.jpg");}
#biopic-W000809 {background-image: url("./images/congress/W000809.jpg");}
#biopic-W000810 {background-image: url("./images/congress/W000810.jpg");}
#biopic-W000779 {background-image: url("./images/congress/W000779.jpg");}
#biopic-Y000062 {background-image: url("./images/congress/Y000062.jpg");}
#biopic-Y000063 {background-image: url("./images/congress/Y000063.jpg");}
#biopic-Y000065 {background-image: url("./images/congress/Y000065.jpg");}
#biopic-Y000066 {background-image: url("./images/congress/Y000066.jpg");}
#biopic-Y000033 {background-image: url("./images/congress/Y000033.jpg");}
#biopic-Y000064 {background-image: url("./images/congress/Y000064.jpg");}
#biopic-Z000017 {background-image: url("./images/congress/Z000017.jpg");}
#biopic-Z000018 {background-image: url("./images/congress/Z000018.jpg");}